<center><img src="images/Logo_I2A2.webp", width=250></center>

# Desafio 6

No desafio anterior, supomos que **estávamos em 2012**; e, utilizando **dados reais de entradas de passageiros dos anos de 1989 até 2012**, você propôs um **modelo preditivo de previsão da demanda de passageiros para uma linha de Metrô**, utilizando como variáveis preditoras indicadores econômicos, e ainda, realizou a **previsão de demanda de passageiros desta linha de 2013 até 2022**.

<center><img src="images/DemandaMetro.png", width=900></center>

Nos artigos: [IMPACTO DOS INDICADORES PRODUTO INTERNO BRUTO E TAXA DE DESEMPREGO NA DEMANDA DE PASSAGEIROS DA LINHA 3 - VERMELHA DO METRÔ DE SÃO PAULO](https://www.researchgate.net/publication/269225090_IMPACT_OF_INDICATORS_GDP_AND_UNEMPLOYMENT_RATE_ON_DEMAND_PASSENGER_OF_LINE_3_ON_THE_SO_PAULO_SUBWAY) e [GDP and the Unemployment Rate Impact in the Demand for Subway Passengers in São
Paulo](http://ajbasweb.com/old/ajbas/2015/July/672-681.pdf), os autores propõem um modelo preditivo utilizando como variáveis preditoras da demanda de passageiros os indicadores PIB brasileiro e Taxa de Desemprego (TD) da Região Metropolitana de São Paulo.    
Para isto, utilizaram na construção do modelo técnicas de regressão linear múltipla, no qual, em média, as variáveis preditoras propostas explicaram 93,6% (R² ajustado) das variações da variável dependente (demanda de passageiros).

# Modelo proposto

## Demanda anual passageiros = 271.367.416,0 + 27,9 * PIB - 4.004.648,6 * TD

Com o modelo definido, os autores buscaram projeções do PIB e da TD e realizaram a previsão da demanda para o período de 2013 até 2020.

<center><img src="images/d6_projecoes_PIB_TD.png", width=900></center>

<center><img src="images/d6_previsao.png", width=900></center>

Conforme gráfico acima, em 2020 a previsão de demanda anual para a linha era da ordem de 400 milhões de passageiros.

## Agora voltamos para o presente!

Temos os dados atualizados da demanda de passageiros até junho de 2022, ou seja, podemos comparar as previsões realizadas pelos autores dos artigos, bem como as que vocês realizaram no desafio anterior.

O arquivo [DemandaMetroAtual.xlsx](https://github.com/vsvasconcelos/i2a2/blob/main/DemandaMetroAtual.xlsx) possui as totalizações mensais de entrada de passageiros, bem como as respectivas médias em dias úteis (DU) atualizadas até junho de 2022.

In [5]:
import pandas as pd
dados = pd.read_excel('DemandaMetroAtual.xlsx')

In [6]:
dados.head(5)

               Mês/Ano  Entradas Unnamed: 2
0                  NaN     TOTAL   MÉDIA DU
1  1989-01-01 00:00:00  17582640     685614
2  1989-02-01 00:00:00  16054636     724491
3  1989-03-01 00:00:00  19435854     770336
4  1989-04-01 00:00:00  19288983     786977

In [7]:
dados.tail(5)

                 Mês/Ano   Entradas     Unnamed: 2
432  2022-03-01 00:00:00   21835470         840015
433  2022-04-01 00:00:00   20508409         858852
434  2022-05-01 00:00:00   22452936         846676
435  2022-06-01 00:00:00   20959085         822865
436                 2022  119611575  791770.166667

## Tarefa 1

Busque pelos dados atualizados do PIB e da TD de 2013 até 2021 e utilize o modelo proposto pelos autores dos artigos para calcular a demanda anual de passageiros.

## Tarefa 2

Compare os dados obtidos na tarefa 1 com os resultados reais do histórico de passageiros obtidos do arquivo **DemandaMetroAtual.xlsx**

## Tarefa 3
Compare os resultados do seu modelo de previsão, proposto no desafio anterior, com os resultados reais do histórico de passageiros obtidos do arquivo **DemandaMetroAtual.xlsx**

## Tarefa 4

Com as lições aprendidas no estudo dos artigos apresentados e no desenvolvimento do desafio anterior, proponha melhorias no seu modelo de previsão de demanda de passageiros.   
Necessitamos saber a previsão anual de passageiros na linha em questão até 2030.